@model Branch

<div class="row">
    <table class="CustomBlueTable" border="1" style=" width:100%;margin:1px auto;">

        <tr>
            <th>Branch ID</th>
            <td>@Model.BranchId</td>
        </tr>
        <tr>
            <th>Branch Name</th>
            <td>@Model.BranchName</td>
        </tr>
    </table>
</div>
